.teasr-leer-mas{
    background-color: blue;
    a{
      color: green;   
    }
}

.images-container{
   width: 40%;
   display: inline-block;
   vertical-align: top;
}
.field--name-body{
    width: 40%;
    display: inline-block;
    vertical-align: top;
 }
